.sidebar-admin {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Faz com que a lista ocupe o espaço restante */
  }
  
  button {
    margin-top: auto; /* Empurra o botão para o final */
  }