@import '@/assets/scss/main';

.teste{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  
  .joblist{
    height: 100%;
  }
  
  .readmore{
    color: rgba(0,0,255, 0.5);
    font-weight: 900;
  }