@import '@/assets/scss/fonts';
@import '@/assets/scss/colors';
@import '@/assets/scss/components';
@import '@/assets/scss/modals';

#app {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding: 0;
    margin: 0;
}



